@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


.row {
   align-items: center;

}
h1 {
    color: #7C0BF0;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    letter-spacing: 3px;
    font-size: calc(40px + 0.4vw);
    font-weight: bolder;
}
.text {
    font-family: "Karla", sans-serif;
    font-weight: 500;
}
.startbut {
    background-color: #7C0BF0;
    border: 0;
    color: aliceblue;
    box-shadow: 0px 4px 10px rgb(158, 157, 157);
    border-radius: 15px;
    font-family: "Inter", sans-serif;
    height: 35px;
    align-items: center;
    justify-content: center;
}
li::marker {
    color: #7C0BF0;
}